automation.code-workspace
terraform/EC2/inst+provisioner-remote/terraform
terraform/EC2/inst+provisioner-remote/terraform.pem
terraform/EC2/inst+provisioner-remote/terraform.pub
terraform/EC2/instance+provisioner/ip_address.txt
.DS_Store
terraform.tfstate.backup
lock.json
terraform.tfstate
.terraform/
.terraform.tfstate.lock.info